html, body {
  height: 100%; }

body {
  background-color: #FCFCFC;
  color: #444444;
  font-family: 'courier new'; }

a {
  color: #444444;
  display: inline-block;
  font-size: 12px;
  font-weight: bold; }

a:hover {
  background-color: #FF0000;
  color: white;
  text-decoration: none; }

li {
  list-style-type: none;
  display: list-item; }

.nav-links {
  margin-top: 10px; }
  .nav-links a {
    margin-top: 13px;
    padding: 2px; }

#main-header {
  position: relative;
  top: 40%; }
  #main-header h1 {
    position: relative;
    margin: 0 auto;
    text-indent: -9999px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/thelight2.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 113px; }

.col-centered {
  text-align: center;
  margin: 0 auto;
  float: none; }
