html, body {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #FCFCFC;
  color: #444444;
  font-family: 'courier new',courier,helvetica; }

a {
  color: #444444;
  display: inline-block;
  font-size: 10px;
  font-weight: bold; }

a:hover {
  background-color: #FF0000;
  color: white;
  text-decoration: none; }

li {
  list-style-type: none;
  display: list-item; }

.button-div {
  text-align: right; }

.submit {
  background: #FF0000;
  color: white;
  border: none;
  margin-top: 15px; }

.nav-links {
  margin-top: 30px; }
  .nav-links a {
    margin-top: 8px;
    padding: 2px; }

.contact-form {
  margin: 0 auto;
  margin-top: 25px;
  float: none;
  width: 221px; }

.contact-links {
  display: inline; }
  .contact-links li {
    margin-top: 5px; }

.left-links {
  width: 200px;
  float: left; }

form {
  padding-left: 20px;
  border-left: 1px solid black; }

label {
  display: block;
  margin-top: 10px; }

input {
  width: 200px; }

textarea {
  resize: none;
  height: 150px;
  width: 200px; }

input, textarea {
  background: #FFFFFF;
  border: 1px solid #1C1C1C; }

#main-header {
  position: relative;
  top: 30%; }

#contact-header {
  position: relative;
  top: 15%; }

.logo {
  position: relative;
  margin: 0 auto;
  text-indent: -9999px;
  background-size: cover;
  background-position: center;
  background-image: url(../images/thelight.png);
  background-repeat: no-repeat;
  height: 100px;
  width: 113px; }

.col-centered {
  text-align: center;
  margin: 0 auto;
  float: none; }

.tx-lft {
  text-align: left; }
